<template>
  <section>
    <h1>About page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quis voluptas dolores, perspiciatis ducimus quo quibusdam? Sint earum ea quae temporibus ipsum natus nihil, fugit debitis error repellat consequatur atque.</p>
  </section>
</template>
